<!DOCTYPE html>
<html>
<head>
  <title>Mount two</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "mount_two/application", media: "all" %>
  <%= javascript_include_tag "mount_two/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
